PORT=4000
DATABASE_URL="postgresql://postgres:prisma@localhost:5432/postgres?schema=public" # CONEXION DE EJEMPLO NO REAL
API_KEY="SkibidiSigmaPomniDigitalFortiniteChambaFreeGigaChad" # USA OPENSSL para generar la clave ADMIN_PASSWORD="johan-admin-pass-99"
ADMIN_PASSWORD="contrasenadeladmin"
