PORT=4000
DATABASE_URL="postgresql://postgres:prisma@localhost:5432/postgres?schema=public" # CONEXION DE EJEMPLO NO REAL
API_KEY="SkibidiSigmaPomniDigitalFortiniteChambaFreeGigaChad" # USA OPENSSL para generar la clave 

CLOUDINARY_NAME="dunggrgex"
CLOUDINARY_API_KEY="Secreto_al_Wpp"
CLOUDINARY_API_SECRET="Secreto_al_Wpp_2"